<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mappers.ExampleRefReleaseCodeMapper">
  <resultMap id="BaseResultMap" type="com.example.pojo.ExampleRefReleaseCode">
    <result column="testing_example_id" jdbcType="INTEGER" property="testingExampleId" />
    <result column="stable_release_code_id" jdbcType="INTEGER" property="stableReleaseCodeId" />
  </resultMap>
  <insert id="insert" parameterType="com.example.pojo.ExampleRefReleaseCode">
    insert into example_ref_release_code (testing_example_id, stable_release_code_id
      )
    values (#{testingExampleId,jdbcType=INTEGER}, #{stableReleaseCodeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.pojo.ExampleRefReleaseCode">
    insert into example_ref_release_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testingExampleId != null">
        testing_example_id,
      </if>
      <if test="stableReleaseCodeId != null">
        stable_release_code_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testingExampleId != null">
        #{testingExampleId,jdbcType=INTEGER},
      </if>
      <if test="stableReleaseCodeId != null">
        #{stableReleaseCodeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>