<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mappers.ProjectAllMethodsMapper">
  <resultMap id="BaseResultMap" type="com.example.pojo.ProjectAllMethods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="package_url" jdbcType="VARCHAR" property="packageUrl" />
    <result column="javabean_name" jdbcType="VARCHAR" property="javabeanName" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="param_type" jdbcType="VARCHAR" property="paramType" />
  </resultMap>
  <insert id="insert" parameterType="com.example.pojo.ProjectAllMethods">
    insert into project_all_methods (id, package_url, javabean_name, 
      method_name, param_type)
    values (#{id,jdbcType=INTEGER}, #{packageUrl,jdbcType=VARCHAR}, #{javabeanName,jdbcType=VARCHAR}, 
      #{methodName,jdbcType=VARCHAR}, #{paramType,jdbcType=VARCHAR})
  </insert>
</mapper>