<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mappers.TestingReleaseAddCodeMapper">
  <resultMap id="BaseResultMap" type="com.example.pojo.TestingReleaseAddCode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="testing_example_id" jdbcType="INTEGER" property="testingExampleId" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="javabean_name" jdbcType="VARCHAR" property="javabeanName" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="param_type" jdbcType="VARCHAR" property="paramType" />
    <result column="call_chain_order" jdbcType="TINYINT" property="callChainOrder" />
    <result column="change_or_not" jdbcType="TINYINT" property="changeOrNot" />
    <result column="testing_or_not" jdbcType="TINYINT" property="testingOrNot" />
  </resultMap>
  <sql id="Base_Column_List">
    id, testing_example_id, package_name, javabean_name, method_name, param_type, call_chain_order, 
    change_or_not, testing_or_not
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from testing_release_add_code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from testing_release_add_code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.pojo.TestingReleaseAddCode">
    insert into testing_release_add_code (id, testing_example_id, package_name, 
      javabean_name, method_name, param_type, 
      call_chain_order, change_or_not, testing_or_not
      )
    values (#{id,jdbcType=INTEGER}, #{testingExampleId,jdbcType=INTEGER}, #{packageName,jdbcType=VARCHAR}, 
      #{javabeanName,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, #{paramType,jdbcType=VARCHAR}, 
      #{callChainOrder,jdbcType=TINYINT}, #{changeOrNot,jdbcType=TINYINT}, #{testingOrNot,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.pojo.TestingReleaseAddCode">
    insert into testing_release_add_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="testingExampleId != null">
        testing_example_id,
      </if>
      <if test="packageName != null">
        package_name,
      </if>
      <if test="javabeanName != null">
        javabean_name,
      </if>
      <if test="methodName != null">
        method_name,
      </if>
      <if test="paramType != null">
        param_type,
      </if>
      <if test="callChainOrder != null">
        call_chain_order,
      </if>
      <if test="changeOrNot != null">
        change_or_not,
      </if>
      <if test="testingOrNot != null">
        testing_or_not,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="testingExampleId != null">
        #{testingExampleId,jdbcType=INTEGER},
      </if>
      <if test="packageName != null">
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="javabeanName != null">
        #{javabeanName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null">
        #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="callChainOrder != null">
        #{callChainOrder,jdbcType=TINYINT},
      </if>
      <if test="changeOrNot != null">
        #{changeOrNot,jdbcType=TINYINT},
      </if>
      <if test="testingOrNot != null">
        #{testingOrNot,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.pojo.TestingReleaseAddCode">
    update testing_release_add_code
    <set>
      <if test="testingExampleId != null">
        testing_example_id = #{testingExampleId,jdbcType=INTEGER},
      </if>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="javabeanName != null">
        javabean_name = #{javabeanName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        method_name = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null">
        param_type = #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="callChainOrder != null">
        call_chain_order = #{callChainOrder,jdbcType=TINYINT},
      </if>
      <if test="changeOrNot != null">
        change_or_not = #{changeOrNot,jdbcType=TINYINT},
      </if>
      <if test="testingOrNot != null">
        testing_or_not = #{testingOrNot,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.pojo.TestingReleaseAddCode">
    update testing_release_add_code
    set testing_example_id = #{testingExampleId,jdbcType=INTEGER},
      package_name = #{packageName,jdbcType=VARCHAR},
      javabean_name = #{javabeanName,jdbcType=VARCHAR},
      method_name = #{methodName,jdbcType=VARCHAR},
      param_type = #{paramType,jdbcType=VARCHAR},
      call_chain_order = #{callChainOrder,jdbcType=TINYINT},
      change_or_not = #{changeOrNot,jdbcType=TINYINT},
      testing_or_not = #{testingOrNot,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>